.latest-info {
  display: flex;
  flex-direction: column;
  align-self: auto;
  text-align: left;
  width: 100%;
  margin-bottom: 25px;
}

.latest-project {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
  margin-bottom: 30px;
}

.latest-project-info {
  display: flex;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
}

.latest-project-text {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-left: 10px;
}

.latest-project-title {
  font-size: 24px;
}

.latest-project-image {
  max-width: 20%;
}

.blog-posts__container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 75%;
}
