#personal {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.info-container {
  box-shadow: 5px 10px 10px rgb(41, 40, 40);
  background: #f2f4f3;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1250px;
  height: 70%;
  margin: 25px 100px;
  border-radius: 5% / 10%;
}

.info-container-left {
  display: flex;
  flex-direction: column;
  margin: 50px;
  width: 90%;
}

.info-container-right {
  margin: 50px;
}

.info-blurb {
  font-size: 23px;
  text-align: center;
}

.info-subtext {
  margin-top: 20px;
  align-self: center;
}

.info-image {
  border-radius: 5%;
  max-width: 100%;
  height: auto;
}
