.imageContainer {
  width: 300px;
  margin: 15px;
}

.imageContainer * {
  width: 100%;
}

.imageContainer img {
  border-radius: 3%;
}

.imageContainer p {
  text-align: center;
  font-size: 20px;
}
